<div id="userDropdownMenu" class="invisible">
  <div class="absolute -right-2 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
       role="menu"
       id="userDropdownMenu-"
       aria-orientation="vertical"
       aria-labelledby="user-menu-button"
       tabindex="-1">
    <!-- Active: "bg-gray-100", Not Active: "" -->
    <a href="#"
       class="block px-4 py-2 text-sm text-gray-700"
       role="menuitem"
       tabindex="-1"
       id="user-menu-item-0">Your Profile</a>
    <!-- Active: "bg-gray-100", Not Active: "" -->
    <a href="#"
       class="block px-4 py-2 text-sm text-gray-700"
       role="menuitem"
       tabindex="-1"
       id="user-menu-item-1">Settings</a>
    <!-- Active: "bg-gray-100", Not Active: "" -->
    <a href="#"
       class="block px-4 py-2 text-sm text-gray-700"
       role="menuitem"
       tabindex="-1"
       id="user-menu-item-2">Sign out</a>
  </div>
</div>
