<!-- Left column -->
<div class="grid grid-cols-1 gap-4 lg:col-span-4">
  <section aria-labelledby="section-1-title">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="p-6">
        <!-- Your content -->
        <h1 class="text-3xl">Artículos</h1>
        <br>
        {{!-- Aqui va un articulo --}}
      </div>
    </div>
  </section>
</div>
