<div class="grid grid-cols-1 gap-4">
  <section aria-labelledby="section-2-title">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="p-6">
      <!-- Your content -->
        <h2 class="text-2xl">Categorías</h2>
        <br>
        <h2 class="text-2xl">Autores</h2>
        <br>
      </div>
    </div>
  </section>
</div>
