{{#*inline "page"}}
<h1 class="text-cyan-300">Página de inicio</h1>
<p>Bienvenido a mi sitio web.</p>
<p>Mensaje Heredado: {{ name }}</p>
<script>console.log('indexPage/index.js');</script>
{{/inline}}
{{> layout}}
<script></script>
